/* RainTransition */
.rain-transition{
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 5;
	.rain{
		position: absolute;
		overflow: hidden;
		top:0;
		left:0;
	}
}