/**********************************************************************************************
Title: CSS - MDB
Author: Productions Version 10
Date: 2015
***********************************************************************************************/
@charset "utf-8";

@import "./import/elements.less";
@import "./import/variables.less";

.parallax-cnt{
	height: 500px;
	position: relative;

	.light-parallax-layer{
		width: 20%;
		height: 70%;
		background: #00A2FF;
		.opacity(.5);
		position: absolute;
	}
}