*, *:before, *:after {
	.box-sizing();
}

html, body{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	font-family: 'Glegoo', serif;
	background: #201f21;
	//.gradient(#201f21, #8BBEDA, #3e7085);
	background-attachment: fixed;
	.box-sizing();
}

#title-page{
	position: relative;
	z-index: 10;
	position: relative;
	width:100%;
	font-size: 25px;
	line-height: 50px;
	background: rgba(0,0,0,.75);
	margin:0;
	padding: 20px;
	color:#F8F8F8;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	.logo{
		display: block;
		position: absolute;
		top:50%;
		left:20px;
		background: url("@{path}images/logo-v10.png@{v}") top center no-repeat;
		background-size: contain;
		.translate(0%, -50%);
		width: 133px;
		height: 41px;
	}
	.btn-back{
		display: block;
		position: absolute;
		top:50%;
		right:15px;
		background: url("@{path}images/btn-home.png@{v}") top center no-repeat;
		background-size: contain;
		.translate(0%, -50%);
		width: 50px;
		height: 42px;
		cursor: pointer;
	}
}

#filters-menu{
	position: relative;
	z-index: 10;
	width:100%;
	background: rgba(0,0,0,.75);
	margin: 0px 0 15px;
	padding: 15px 20px;
	.seach{
		color:#fff;
		font-size: 12px;
		input{
			background:rgba(255, 255, 255, 0.08);
			color:#fff;
			border: none;
			font-size: 12px;
			margin-left: 10px;
			padding: 5px;
			.rounded(0);
		}
	}
}

#container{
	position: relative;
	z-index: 10;
	.title-section{
		background: rgba(0,0,0,.75);
		display: block;
		color: #fff;
		font-family: 'Open Sans', sans-serif;
		font-weight: 700;
		font-size: 18px;
		margin:0 18px 15px 18px;
		padding:10px 15px;
		min-width: 165px;
		line-height: 30px;
	}
	.title-sub{
		color: #fff;
		font-size: 16px;
		font-weight: 700;
		padding: 0;
	}
	.box{
		background: rgba(80,76,76,.28);
		min-height: 100px;
		margin: 0 18px 30px 18px;
		padding:15px; 
	}
	.sublist{
		color:#fff;
		font-size: 12px;
		padding:0 0 0 25px; 
	}
	.menu{
		margin: 0 0 30px 0;
		padding: 0 15px;
		list-style-type: none;
		clear: both;
		.grid-item, .grid-sizer{
			float: left;		
			min-width: 200px;
			width: 20%;
			height: auto;
			padding-bottom: 4px;
			&.action{
				.test-page{
					cursor: pointer;
					&:hover{
						//background: rgba(0,0,0,1);
						background: rgba(80, 76, 76, 0.28);
						.drop-shadow(0,0,10px,.62);

						.title{color:#EF662F; }
					}
				}
			}
			&.methods{
				width: 600px;
				.test-page{
					cursor: pointer;
					&:hover{
						background: rgba(0,0,0,1);
					}
				}
			}
			&.events{
				width: 600px;
				&.trigger-event{
					.test-page{
						.transition(.25s);
						background: rgba(0, 82, 215, .75);
					}
				}
				.test-page{
					.transition(.75s);
				}
			}
			.test-page{
				position: relative;
				margin: 0 auto;
				background: rgba(0,0,0,.75);
				width: ~"calc(100% - 15px)";
				height:~"calc(100% - 15px)";
				min-height: 161px;
				top:2.5px;
				left:2.5px;
				padding:20px;
				margin:0;
				.transition();
				.title{
					.transition();
					position: relative;
					color:#F8F8F8;
					font-weight: 700;
					margin: 0; 
					padding: 0 10px 0 10px; 
					font-size: 17px;
					line-height: 17px;
					top:8px;
				}
				.description{
					color:#F8F8F8;
					padding: 0 10px 0 10px;
					font-size: 12px;
					line-height: 17px;
					margin-top: 15px;
				}
				.statement{
					color:#F8F8F8;
					padding: 10px;
					font-size: 12px;
					line-height: 17px;
					margin:15px 10px;
					background: rgba(3, 59, 78, .7);
					.rounded(4px);
					font-weight: 700;
				}
				.tags{
					display: block;
					padding: 10px 0 0 10px; 
					.tag{
						font-family: 'Open Sans', sans-serif;
						display: inline-block;
						color:#fff;
						font-weight: 700;
						font-size: 10px;
						line-height: 20px;
						background: rgba(0,0,0,75);
						padding:0px 5px;
						.rounded(2px);
						&.js{
							background: rgba(239,102,47,75);
							color:#000;
						}
						&.php{
							background: rgba(0,87,159,75);
						}
					}
				}
			}
		}
	}
}

.code{
	font-size: 12px;
	.params{
		margin-top: 15px;
		thead{
			font-family: 'Open Sans', sans-serif;
			text-align: left;
			tr{
				th{
					padding:0 15px 0 0;
				}
			}
		}
		tbody{
			font-family: 'Open Sans', sans-serif;
			text-align: left;
			tr{
				td{
					padding:3px 15px 0 0;
					&.name{
						color:#63AFFF;
						code{
							background: #000;
							padding:4px;
							.rounded(); 
						}
						font-family: 'Glegoo', serif;
					}
					&.type{
						color:#D2D2D2;
						font-family: 'Glegoo', serif;
					}
					&.description{
						color:#fff;
						font-family: 'Open Sans', sans-serif;
						padding:0!important;
					}
					&.default{
						color:#51E638;
						font-family: 'Glegoo', serif;
					}
				}
			}
		}
	}
}