/* SortableManager */
.sortable-manager-cnt{
	padding:25px 0;
	font-size: 0;
	box-sizing: initial!important;
	&:after, &:before{
		box-sizing: initial!important;
	}

	*{
		box-sizing: initial!important;
		&:after, &:before{
			box-sizing: initial!important;
		}
	}

	.group{
		position: relative;
		display: inline-block;
		color:#fff;
		background: #1b2426;
		width: 352px;
		min-height: 150px;
		vertical-align: top;
		padding: 15px;
		margin: 15px 15px;
		border: 2px solid #435a5f;
		&:hover{
			.btn-group-edit{
				.opacity(1);
			}
			.btn-group-remove{
				.opacity(1);
			}
		}
		&.ghost{
			border-style: dashed;
		}
		&.chosen{
			.opacity(.8);
		}
		.btn-group-edit{
			cursor: pointer;
			display: block;
			width: 20px;
			height: 20px;
			position: absolute;
			top: 5px;
			right: 35px;
			.opacity(0);
			.transition();
			i{
				font-size: 20px;
			}
		}
		.btn-group-remove{
			cursor: pointer;
			display: block;
			width: 20px;
			height: 20px;
			position: absolute;
			top: 5px;
			right: 5px;
			.opacity(0);
			.transition();
			i{
				font-size: 20px;
			}
		}
		.title{
			font-size: 16px;
		}
		.rounded(10px);
		&.add{
			border-style: dashed;
			width: 115px;
			.btn-group-edit{
				display: none;
			}
			.btn-group-remove{
				display: none;
			}
			cursor: pointer;
			.btn-add{
				cursor: pointer;
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				.opacity(.5);
				.transition();
				.translate(-50%, -50%);
				i{
					font-size: 50px;
				}
			}
			&:hover{
				.btn-add{
					.opacity(1);
				}
			}
			.items{
				.item.add{
					display: none;
				}
			}
		}
		&.between{
			position: absolute;
			width: 30px;
			border: 0 none;
			margin: 15px 0 0 0;
			padding: 0;
			background: none;
			.translate(-50%, 0);
			.title{
				display: none;
			}
			.btn-group-edit{
				display: none;
			}
			.btn-group-remove{
				display: none;
			}
			.items{
				height: 181px;
				.item{
					height: 100%;
					margin: 0;
					padding: 0; 
					&.ghost{
						width: 26px;
						height: 100%;
					}
					&.add{
						display: none;
					}
				}
			}
		}
		.items{
			min-height: 80px;
			.item{
				cursor: pointer;
				position: relative;
				display: inline-block;
				width: 100px;
				height: 100px;
				margin: 5px;
				border: 2px solid #fff;
				.rounded(10px);
				&.ghost{
					border-style: dashed;
					.fullbox{
						p{
							display: none;
						}
					}
					.nav{
						display: none;
					}
				}
				&.chosen{
					.opacity(.8);
				}
				.fullbox{
					width: 100%;
					height: 100%;
					background: #6B95A4;
					font-size: 16px;
					.rounded(8px);
					p{
						display: block;
						position: absolute;
						text-align: center;
						margin: 0;
						padding: 0;
						top:5px;
						left:5px;
						color: #fff;
						font-weight: bold;
						font-size: 14px;
					}
				}

				&.add{
					border-style: dashed;
					
					cursor: pointer;
					.btn-add{
						cursor: pointer;
						display: block;
						position: absolute;
						top: 50%;
						left: 50%;
						.opacity(.5);
						.transition();
						.translate(-50%, -50%);
						i{
							font-size: 50px;
						}
					}
					&:hover{
						.btn-add{
							.opacity(1);
						}
					}
				}

				&:hover{
					.nav{
						.opacity(1);
					}
				}

				.nav{
					position: absolute;
					width: 100%;
					height: 20px;
					top:50%;
					text-align: center;
					.translate(0, -50%);
					.opacity(0);
					.transition();
					.btn-edit{
						cursor: pointer;
						i{
							font-size: 20px;
						}
						margin: 0 8px 0 0;
					}
					.btn-remove{
						cursor: pointer;
						i{
							font-size: 20px; 
						}
						margin: 0 0 0 8px;
					}
				}

			}
		}
	}
}